.box{
  width: 500px;
  height: 500px;
  border: 50px;
  background-color: aqua;
  margin-left: 100px;
  border-radius: 50px;
}

button{
  width: 100px;
  height: 30px;
  margin-left: 90px;
  margin-top: 250px;
}

h1{
  
}

